[submodule "external_submodules/eigen"]
	path = external_submodules/eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "external_submodules/EigenRand"]
	path = external_submodules/EigenRand
	url = https://github.com/bab2min/EigenRand
[submodule "external_submodules/mnist"]
	path = external_submodules/mnist
	url = https://github.com/wichtounet/mnist.git
